http:
  middlewares:
    cors:
      headers:
        accessControlAllowOriginList:
          - "http://localhost:3000"
          - "http://messaging_service:8000"
        accessControlAllowMethods:
          - GET
          - POST
          - OPTIONS
        accessControlAllowHeaders:
          - Authorization
          - Content-Type
        accessControlAllowCredentials: true
